@tailwind base;

@tailwind components;

@tailwind utilities;
/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  html,
  body {
    font-size: 10px;
  }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
  html,
  body {
    font-size: 5px;
  }
}
@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.template {
  @apply [&>*]:mt-[1rem] flex items-center flex-col;
}

.title {
  @apply w-full text-center text-[1.2rem] font-bold;
}

.nav-link {
  @apply opacity-0 animate-fadeInLeft hover:cursor-pointer;
}
.pro-text {
  @apply mr-[1.54rem] h-full flex justify-center items-center hover:text-[black] hover:duration-300 hover:cursor-pointer;
}

.explain-image {
  @apply bg-[black] object-contain h-[20rem];
}

.sort-center {
  @apply flex justify-center items-center;
}

.icon-box {
  @apply flex flex-col  [&>svg]:hover:text-[lightgreen] duration-300 [&>span]:hover:opacity-100 [&>svg]:hover:translate-y-[-.2rem] mr-4;
}

.icon {
  @apply h-[2.5rem] w-[2.5rem] duration-300;
}

.icon-name {
  @apply w-[2.5rem] flex justify-center items-center opacity-0 duration-300 text-gray text-[.8rem];
}
.slick-next:before,
.slick-prev:before {
  color: #20c997 !important;
  font-size: 1.3rem !important;
}

.slick-dots {
  bottom: 2rem !important;
}


