@tailwind base;

@tailwind components;

@tailwind utilities;
@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.pg-wrapper {
  height: auto !important;
}

.slick-next:before,
.slick-prev:before {
  color: #20c997 !important;
}
