@tailwind base;

@tailwind components;

@tailwind utilities;
@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@media all and (max-width: 1024px) {
  body,
  html {
    font-size: 100%;
  }
}
@media all and (max-width: 300px) {
  body,
  html {
    font-size: 100%;
  }
}
@media all and (min-width: 1024px) {
  body,
  html {
    font-size: 100%;
  }
}
@media all and (min-width: 800px) {
  body,
  html {
    font-size: 100%;
  }
}
.pg-wrapper {
  height: auto !important;
}

/* html {
  width: 1000px;
} */
.slick-next:before,
.slick-prev:before {
  color: #20c997 !important;
}
